<!-- newblog -->
<!DOCTYPE html>
<html>
<head>
  <title>Travel Diary</title>
  <meta charset="utf-8" />
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/css/bootstrap/bootstrap.css" rel="stylesheet"/>
    <link href="/css/bootstrap/carousel.css" rel="stylesheet"/>
    <link href="/css/bootstrap/blog.css" rel="stylesheet"/>
    <link href="/css/index.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
    <!-- <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVX-hvAGl21JA0nBii3fNYTyec2SOKLqw&libraries=places&callback=initMap">
    </script> -->
    <script src="/js/medium-editor.js"></script>
    <script src="/js/jquery-3.2.1.js"></script>
    <script src="/js/index.js"></script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVX-hvAGl21JA0nBii3fNYTyec2SOKLqw&libraries=places&callback=initMap">
    </script>
</head>
<body>
  <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand font-ftg" href="/{{currentUser}}">Travel U&Me</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav float-right">
                <!-- <li class="active"><a href="#">Home</a></li> -->
                <!-- <li><a href="#about">About</a></li> -->
                <!-- <li><a href="#contact">Contact</a></li> -->
                <!-- <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li> -->
                {{#if loggedIn}}
                  <!-- {{#if isOwner}}
                  <li>
                    <a href="/save">Save</a>
                  </li>
                  {{/if}} -->
                <li><a href="/{{currentUser}}">{{currentUser}}</a></li>
                {{else}}
                <li><a href="/login">Login</a></li>
                {{/if}}
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>

    <!-- <script>
      document.getElementById('cover-image').addEventListener("change", function(){
        console.log("**********");
      });
    </script> -->

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">

      <!-- <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active" ></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol> -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img id="first-slide" class="first-slide" src="{{blog.coverURL}}" alt="First slide">
          <div class="container">
            <p>


            <form id="cover-image" class="carousel-caption">
              <!-- <input type="text" name="title" placeholder="title" /> -->
              <label class="btn btn-lg btn-primary" for="cover" >Choose Your Cover Photo</label>
              <input class="hidden" id="cover" type="file" name="upl" />
              <button class="btn btn-lg btn-primary" onclick="uploadImage()" type="submit" >Submit</button>
            </form>
            <!-- <script>
              document.getElementById('cover-image').addEventListener("change", uploadImage);
            </script> -->
            </p>
          </div>
        </div>

      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div class="container edit-container">


      <div class="row">
        <div class="col-sm-7 blog-main padding-left-zero">
          <div class="blog-post">
            <!-- <form action="/post" method="POST" autocomplete="off">
              <input id="blog-title" class="blog-edit-title" type="text" placeholder="Title" name="title">
              <input id="blog-content" class="blog-edit-meta" type="text" placeholder="Share your wonderful journey with everyone!" name="content">
              <button onclick="uploadPlacesToDb()" type="submit">Submit</button>
            </form> -->
            <!-- <form autocomplete="off"> -->
            <span hidden id="blog-id">
              {{blog._id}}
              {{blog._id.$oid}}
            </span>
              <input id="blog-title" class="blog-edit-title" type="text" value="{{blog.title}}" name="title">
              <textarea id="blog-content" class="blog-edit-meta" type="text"  name="content">{{blog.content}}</textarea>

              <button onclick="save()" >Save</button>
            <!-- </form> -->
          </div>
        </div>



        <div class="col-sm-5 blog-sidebar" id="addmap">
          <!-- map -->
          <div id='map'></div>
          <div id="destlist" class="header">

          <!-- input place for autocomplete address -->
          <div class="pac-card" id="pac-card">

            <div id="pac-container">
              <input type="text" id="pac-input" placeholder="Your next destination...">
            </div>
          </div>
          <!-- dropdown -->
          <!-- <div class="infowindow-content">
            <img src="" width="16" height="16" class="place-icon"/>
            <span id="place-name" class="title"></span><br />
            <span id="place-address"></span>
          </div> -->
          <!-- destination list -->
          <!-- <button onclick="newDest()" class="addBtn btn btn-default">Add</button> -->
          <ul class="place-cards" id="place-cards">
          </ul>
        </div>
      </div>
    </div>
  </div>
  <script src="/js/blog.js"></script>
  <script src="/js/jquery.ajax-cross-origin.min.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/js/Sortable.js"></script>
  <script src="/js/turf.min.js"></script>
  <!-- <script src="js/medium-editor.js"></script> -->
  <link rel="stylesheet" href="/css/medium-editor.css">
  <link rel="stylesheet" href="/css/themes/default.css">

  {{#each places}}
  <script>
    // var place = '{{geo}}';
    // console.log('{{geo.lat}}');
    var place = new google.maps.LatLng('{{geo.lat}}', '{{geo.lng}}');
    addMarker(place);
    // var center = new google.maps.LatLng('{{geo.center.lat}}', '{{geo.center.lng}}');
    // console.log(center);
    // console.log('{{geo.zoom}}');
    // map.setCenter(center);
    // map.setZoom(parseInt('{{geo.zoom}}'));
  </script>
  {{/each}}
  <script>
    var center = new google.maps.LatLng('{{blog.center.lat}}', '{{blog.center.lng}}');
    map.setCenter(center);
    map.setZoom(parseInt('{{blog.zoom}}'));
  </script>
</body>
</html>
