<!-- profile -->
<!DOCTYPE html>
<html>
<head>
  <title>Travel Diary</title>
  <meta charset="utf-8" />
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="./css/bootstrap/bootstrap.css" rel="stylesheet"/>
    <link href="./css/bootstrap/carousel.css" rel="stylesheet"/>
    <link href="./css/bootstrap/login.css" rel="stylesheet"/>
    <link href="./css/index.css" rel="stylesheet"/>
    <link href="./css/explore.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Aclonica|Contrail+One|Fredericka+the+Great|Ruslan+Display" rel="stylesheet">
    <script src="js/explore.js"></script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVX-hvAGl21JA0nBii3fNYTyec2SOKLqw&libraries=places&callback=initMap">
    </script>
    <script src="js/medium-editor.js"></script>
</head>
<body>
  <nav class="navbar navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand font-ftg" href="/">uTravel</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav float-right">
            <li>
              <a class="navbar-btn" href="/explore">Explore</a>
            </li>
            {{#if loggedIn}}
            <li>
              <form action="/newblog" method="GET">
                {{#if isOwner}}
                <button class="addBtn navbar-btn" type="submit">New Diary</button>
                {{/if}}
              </form>
            </li>
            <li><a class="navbar-btn" href="/{{currentUser}}">{{currentUser}}</a></li>
            <li>
              <a class="navbar-btn" href="/logout">Logout</a>
            </li>
            {{else}}
            <li><a class="navbar-btn" href="/login">Login</a></li>
            {{/if}}
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->
  <div style="
    text-align: -webkit-center;
">

    <!-- <div class="page-header text-center">
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div> -->
    <!-- <form action="/newblog" method="GET">
      {{#if isOwner}}
      <button type="submit">add a blog</button>
      {{/if}}
    </form> -->

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">

    </div><!-- /.carousel -->
    <div class="divider">
      <img id="airplane" src="/img/home-airplane.png"/>
      <p class="intro font-ftg">
        Journey Starts Here
      </p>
    </div>
    <div class="columns">

    {{#each blogs}}
    <div class="card">
      <a href="/{{owner.username}}/{{title}}">
        <div class="blog-card">
          <div class="card-image">
            <img class="coverImg" src="{{coverURL}}"/>
          </div>
          <div class="card-title">
            {{title}}
          </div>
          <div class="card-author">
            <a href="/{{owner.username}}">{{owner.username}}</a>
          </div>
          <div class="card-content">
            {{content}}
          </div>
        </div>
      </a>
    </div>
      {{#each places}}
      <script>
      var place = new google.maps.LatLng('{{geo.lat}}', '{{geo.lng}}');
      addMarker(place, '{{name}}', '{{addr}}');
      </script>
      {{/each}}
    {{/each}}
    </div>
  </div>

  <script src="./js/jquery-3.2.1.js"></script>
  {{> facebook}}
  <script src="./js/login.js"></script>
  <script src="./js/bootstrap.js"></script>
  <script src="./js/Sortable.js"></script>
  <script src="./js/turf.min.js"></script>
  <!-- <script src="js/medium-editor.js"></script> -->
  <link rel="stylesheet" href="css/medium-editor.css">
  <link rel="stylesheet" href="css/themes/default.css">


</body>
</html>
